<ion-modal-view>
<!--<label class="item item-input" ng-class="{'has-error' : loginForm.username.$touched && loginForm.username.$invalid}">
<i class="icon ion-person padding-right"></i><br>
<input type="text" name="username" placeholder="Username" ng-model="data.username" required>
</label>
<div class="form-errors" ng-show="loginForm.username.$touched && loginForm.username.$invalid" ng-messages="loginForm.username.$error" ng-messages-include="templates/formErrorMessages.html"></div>
<br>

<div class="list list-inset">
    <label class="item item-input item-stacked-label" ng-class="{'has-error' : resetPasswordForm.email.$touched && resetPasswordForm.email.$invalid}">
        <span class="input-label">Email</span>
        <input name="email" type="email" placeholder="Please enter your email" ng-model="data.email" required>
    </label>

  <div class="form-errors" ng-show="resetPasswordForm.email.$touched && resetPasswordForm.email.$invalid" ng-messages="resetPasswordForm.email.$error" ng-messages-include="templates/formErrorMessages.html"></div>  <br>
    <button class="button button-block btn blue" ng-click="submit()" ng-disabled="resetPasswordForm.email.$invalid">
        Submit
    </button>
</div>
-->
    <ion-header-bar>
        <h1 class="title">Change Password</h1>
<!--         <button class="button button-clear" ng-click="cancel()">Cancel</button>-->
        <button class="button button-clear" ng-click="cancel(2)">Cancel</button>
    </ion-header-bar>
    <ion-content overflow-scroll="false">
        <form name="changePasswordForm" novalidate="">
        <div class="list list-inset">
            <label class="item item-input item-stacked-label" ng-class="{'has-error' : changePasswordForm.oldPassword.$touched && changePasswordForm.oldPassword.$invalid}">
                <span class="input-label">Current Password</span>
                <input name="oldPassword" type="password" ng-model="password.oldPassword" placeholder="Enter your current password" required>
            </label>
            <div class="form-errors" ng-show="changePasswordForm.oldPassword.$touched && changePasswordForm.oldPassword.$invalid" ng-messages="changePasswordForm.oldPassword.$error" ng-messages-include="templates/formErrorMessages.html"></div>
            
            <label class="item item-input item-stacked-label" ng-class="{'has-error' : changePasswordForm.newPassword.$touched && changePasswordForm.newPassword.$invalid}">
                <span class="input-label">New Password</span>
                <input name="newPassword" type="password" ng-model="password.newPassword" placeholder="Enter your new password" required match-new-to-confirm-password>
            </label>
            <div class="form-errors" ng-show="changePasswordForm.newPassword.$touched && changePasswordForm.newPassword.$invalid" ng-messages="changePasswordForm.newPassword.$error" ng-messages-include="templates/formErrorMessages.html"></div>
            
            <label class="item item-input item-stacked-label" ng-class="{'has-error' : changePasswordForm.confirmPassword.$touched && changePasswordForm.confirmPassword.$invalid}">
                <span class="input-label">Confirm Password</span>
                <input name="confirmPassword" type="password" ng-model="password.confirmNewPassword" placeholder="Confirm your new password" required match-confirm-to-new-password>
            </label>
            <div class="form-errors" ng-show="changePasswordForm.confirmPassword.$touched && changePasswordForm.confirmPassword.$invalid" ng-messages="changePasswordForm.confirmPassword.$error" ng-messages-include="templates/formErrorMessages.html"></div>
            <br>
            <button class="col col-100 button button-block ion-edit padding-right btn blue" ng-click="changePassword()" ng-disabled="changePasswordForm.$invalid">
            Update Password
            </button>
        </div>
        
        </form>

    </ion-content>
</ion-modal-view>