<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Edit Profile</h1>
<!--         <button class="button button-clear" ng-click="cancel()">Cancel</button>-->
        <button class="button button-clear" ng-click="cancel(1)">Cancel</button>
    </ion-header-bar>
    <ion-content overflow-scroll="false">
        <!--<label class="item item-input" ng-class="{'has-error' : loginForm.username.$touched && loginForm.username.$invalid}">
<i class="icon ion-person padding-right"></i><br>
<input type="text" name="username" placeholder="Username" ng-model="data.username" required>
</label>
<div class="form-errors" ng-show="loginForm.username.$touched && loginForm.username.$invalid" ng-messages="loginForm.username.$error" ng-messages-include="templates/formErrorMessages.html"></div>
<br>-->
        <form name="updateProfileForm" novalidate="">
        <div class="list list-inset">
            <label class="item item-input item-stacked-label" >
                <span class="input-label">Username</span>
                <input type="text" value="{{user.username}}" ng-disabled="true" ng-model="user.username">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Organization Name</span>
                <input type="text" value="{{user.organizationName}}" ng-disabled="true" ng-model="user.organizationName">
            </label>
            <label class="item item-input item-stacked-label" ng-class="{'has-error' : updateProfileForm.email.$touched && updateProfileForm.email.$invalid}">
                <span class="input-label">Email</span>
                <input name="email" type="email" value="{{user.email}}" ng-model="user.email" required>
            </label>
            <div class="form-errors" ng-show="updateProfileForm.email.$touched && updateProfileForm.email.$invalid" ng-messages="updateProfileForm.email.$error" ng-messages-include="templates/formErrorMessages.html"></div>

            <label class="item item-input item-stacked-label" ng-class="{'has-error' : updateProfileForm.address.$touched && updateProfileForm.address.$invalid}">
                <span class="input-label">Organization's Address</span>
                <input name="address" type="text" value="{{user.address}}" ng-model="user.address" required>
            </label>
            <div class="form-errors" ng-show="updateProfileForm.address.$touched && updateProfileForm.address.$invalid" ng-messages="updateProfileForm.address.$error" ng-messages-include="templates/formErrorMessages.html"></div>

            <label class="item item-input item-stacked-label">
                    <span class="input-label">Organization Description</span> 
                    <textarea value="{{user.description}}" ng-model="user.description"></textarea>
            </label>
            
            <label class="item item-input item-stacked-label" ng-class="{'has-error' : updateProfileForm.postalCode.$touched && updateProfileForm.postalCode.$invalid}">
                <span class="input-label">Postal Code</span>
                <input name="postalCode" type="tel" value="{{user.postalCode}}" ng-model="user.postalCode" required maxlength="6">
            </label>
            <div class="form-errors" ng-show="updateProfileForm.postalCode.$touched && updateProfileForm.postalCode.$invalid" ng-messages="updateProfileForm.postalCode.$error" ng-messages-include="templates/formErrorMessages.html"></div>

            <label class="item item-input item-stacked-label" ng-class="{'has-error' : updateProfileForm.pocName.$touched && updateProfileForm.pocName.$invalid}">
                <span class="input-label">Point of Contact Name</span>
                <input name="pocName" type="text" value="{{user.pocName}}" ng-model="user.pocName" required>
            </label>
            <div class="form-errors" ng-show="updateProfileForm.pocName.$touched && updateProfileForm.pocName.$invalid" ng-messages="updateProfileForm.pocName.$error" ng-messages-include="templates/formErrorMessages.html"></div>

            <label class="item item-input item-stacked-label" ng-class="{'has-error' : updateProfileForm.pocNumber.$touched && updateProfileForm.pocNumber.$invalid}">
                <span class="input-label">Point of Contact Number</span>
                <input name="pocNumber" type="tel" value="{{user.pocNumber}}" ng-model="user.pocNumber" required maxlength="8">
            </label>
            <div class="form-errors" ng-show="updateProfileForm.pocNumber.$touched && updateProfileForm.pocNumber.$invalid" ng-messages="updateProfileForm.pocNumber.$error" ng-messages-include="templates/formErrorMessages.html"></div>

            <br>
            <button class="col col-100 button button-block ion-edit padding-right btn blue" ng-click="updateProfile()">
            Update Profile
            </button>    
        </div>
        </form>

    </ion-content>
</ion-modal-view>