<ion-view view-title="Jobs" class="jobs">
    <ion-nav-buttons side="secondary">
        <button class="button button-clear button-positive" ng-click="openModal()">Edit <i class="ion-compose" style="padding-left:2px"></i></button>
    </ion-nav-buttons>
    <ion-content>

        <button class="button button-block ion-android-locate padding-right  btn-findlocation blue-acc removebottommargin" ng-click="goToMap()">
            <strong>Find My Current Location</strong>
        </button>
        <div class="list" >
            <div ng-repeat="job in jobList" class="item item-text-wrap" >
                <div class="item item-divider reducepaddingnone">
                    <strong>Items</strong>
                </div>
                <div ng-repeat="demandItem in demandItemList" ng-show="demandItem.demand.id === job.demand.id">

                    <p><i class="icon ion-pricetag"></i> {{demandItem.supply.itemName}} </p>
                </div>
                <div class="item item-divider reducepaddingnone">
                    <strong>Delivery Details</strong>
                </div>
                <label class="item item-input reducepaddingnone">
                    <span class="input-label reduceinputlabel"><i class="ion-calendar"></i> Date & Time</span>
                    {{job.deliveryDate}}, {{job.timeslot}}
                </label>
                <label class="item item-input reducepaddingnone">
                    <span class="input-label reduceinputlabel"><i class="ion-ios-location"></i> Pickup</span>
                    {{job.demand.supplier.address}}
                </label>
                <label class="item item-input reducepaddingnone">
                    <span class="input-label reduceinputlabel"><i class="ion-ios-location"></i> Delivery</span>
                    {{job.demand.user.address}}
                </label>

                <div class="reducebuttonpadding" style="text-align:right"><button class="button button-small button-calm icon-right" ng-click="view(job)"><strong>View Job Details  <i class="ion-arrow-right-b"></i></strong></button></div>

            </div>
        </div>
    </ion-content>
</ion-view>