<!--     <ion-slide-box>
           <ion-slide> page1-->
<ion-view view-title="Jobs" class="jobs">
    
    <ion-content overflow-scroll="true">
        
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>

        <button class="button button-block ion-android-locate padding-right btn-findlocation blue-acc removebottommargin" ng-click="goToMap()">
            Find My Current Location
        </button>
        
<!--<div class='row'>
    <div class='col-20 col-offset-80'><button class="button button-small btn blue icon-right" ng-click="view(job)"><strong>Sort <i class="ion-arrow-right-b"></i></strong></button></div>
</div>-->
                
        <div class="list" >
            <div ng-repeat="job in jobList | orderBy:sortBy:sortReverse" class="item item-text-wrap reduceitempadding" >
<!--                <div class="item item-divider reducepaddingnone">
                    <strong>Items</strong>
                </div>
                <div ng-repeat="demandItem in demandItemList" ng-show="demandItem.demand.id === job.demand.id">

                    <p><i class="icon ion-pricetag"></i> {{demandItem.supply.itemName}} </p>
                </div>-->
                <div class="item item-divider reducepaddingnone">
                    <strong>Delivery Details</strong>
                </div>
                <label class="item item-input reducepaddingnone">
                    <span class="input-label reduceinputlabel"><i class="ion-calendar"></i> Date & Time</span>
                    <div class="item-text-wrap editwidth">{{job.deliveryDate}}, {{job.timeslot}}</div>
                </label>
                <label class="item item-input reducepaddingnone">
                    <span class="input-label reduceinputlabel"><i class="ion-ios-location"></i> Pickup</span>
                    <div class="item-text-wrap editwidth">{{job.demand.supplier.address}} Singapore {{job.demand.supplier.postalCode}}</div>
                </label>
                <label class="item item-input reducepaddingnone">
                    <span class="input-label reduceinputlabel"><i class="ion-ios-location"></i> Delivery</span>
                    <div class="item-text-wrap editwidth">{{job.demand.user.address}} Singapore {{job.demand.supplier.postalCode}}</div>
                </label>
<!--                <div class="row">
                    <div class="col col-40 col-offset-20">
                        <button class="button button-small button-block button-calm icon-right"><strong>View Directions  <i class="ion-android-map"></i></strong></button>
                    </div>
                    <div class="col col-40">
                        <button class="button button-small button-block button-calm icon-right" ng-click="view(job)"><strong>View Job Details  <i class="ion-arrow-right-b"></i></strong></button>
                    </div>
                </div>-->
                <div class="reducebuttonpadding" style="text-align:right"><button class="button button-small btn blue icon-right" ng-click="view(job)"><strong>View Job Details  <i class="ion-arrow-right-b"></i></strong></button></div>
                <div class="reducebuttonpadding" style="text-align:right"><button class="button button-small btn blue btn icon-right" ng-click="goToMapRouting(job)"><strong>View Directions  <i class="ion-android-map"></i></strong></button></div>
                <br>
            </div>
        </div>
    </ion-content>
</ion-view>
<!--                                         </ion-slide>
</ion-slide-box>-->