<!--<ion-view view-title="Login" name="login-view">
    <ion-content class="padding">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Username" ng-model="data.username">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Password" ng-model="data.password">
            </label>
        </div>
        <button class="button button-block button-calm" ng-click="login()">Login</button>
    </ion-content>
</ion-view>-->

<ion-view view-title="Login" name="login-view">
    <ion-content>
        
       <form name="loginForm" novalidate="" ng-submit="login()">
            
            <!-- Added -->
            <div class="list list-inset">
                <label>
                    
                    <center>
                        
                        <img src="images/Wheels4Food.png" width="50%" height="50%">
                        
                    </center>
                    <br>
                </label>
                <label class="item item-input" ng-class="{'has-error' : loginForm.username.$touched && loginForm.username.$invalid}">
                    <i class="icon ion-person padding-right"></i><br>
                    <input type="text" name="username" placeholder="Username" ng-model="data.username" required>
                </label>
                <div class="form-errors" ng-show="loginForm.username.$touched && loginForm.username.$invalid" ng-messages="loginForm.username.$error" ng-messages-include="templates/formErrorMessages.html"></div>
                <br>
                <label class="item item-input" ng-class="{'has-error' : loginForm.password.$touched && loginForm.password.$invalid}">
                    <i class="icon ion-locked padding-right"></i><br>
                    <!--<span class="input-label">Password</span>-->
                    <input type="password" name="password" placeholder="Password" ng-model="data.password" required>
                </label>
                <div class="form-errors" ng-show="loginForm.password.$touched && loginForm.password.$invalid" ng-messages="loginForm.password.$error" ng-messages-include="templates/formErrorMessages.html"></div>
                
                 </div>
            <!-- Added -->
            
            
            <!--
            <div class="list">
                <label class="item item-input" ng-class="{'has-error' : loginForm.username.$touched && loginForm.username.$invalid}">
                    <!--<span class="input-label">Username</span>-->
                   <!-- <input type="text" name="username" placeholder="Username" ng-model="data.username" required>
                </label>
                <div class="form-errors" ng-show="loginForm.username.$touched && loginForm.username.$invalid" ng-messages="loginForm.username.$error" ng-messages-include="templates/formErrorMessages.html"></div>
                <label class="item item-input" ng-class="{'has-error' : loginForm.password.$touched && loginForm.password.$invalid}">
                    <!--<span class="input-label">Password</span>-->
                   <!-- <input type="password" name="password" placeholder="Password" ng-model="data.password" required>
                </label>
                <div class="form-errors" ng-show="loginForm.password.$touched && loginForm.password.$invalid" ng-messages="loginForm.password.$error" ng-messages-include="templates/formErrorMessages.html"></div>
                <li class="item item-toggle">
                    Remember Me
                    <label class="toggle toggle-positive">
                      <input type="checkbox">
                      <div class="track">
                        <div class="handle"></div>
                      </div>
                    </label>
                 </li>
            </div>
            
             -->
            <div class="padding-top padding-right padding-left">
                
                <button class="button button-block btn blue">
                    Sign In
                </button>
                
<!--                <p class="text-center">
                    <button class="button button-block btn blue" a href="#" ui-sref="register">
                    Register
                    </button>
                     <a href="#/forgot-password">Forgot Password? </a> 
                </p>-->


            
            </div>
        </form>
           <div class="row">
               <div class="col col-50">
                        <button class="button button-block btn blue" a href="#" ui-sref="register">
                            Register
                        </button>
                   </div>
                       <div class="col">
                        <button class="button button-block btn blue" a href="#" ui-sref="resetpassword">
                            Reset Password
                        </button>

                       </div>
                   </div>
<!--        <div class="bar bar-footer bar-assertive" ng-show="loginFailed">
            <div class="title">{{error}}</div>
        </div>-->
    </ion-content>
</ion-view>