<ion-view view-title="Register" name="register-view">
    <ion-content overflow-scroll="false">
            
            <!-- Added -->
            <div class="list list-inset">
                <label class="item item-input item-stacked-label">
                      <center><img src="images/Wheels4Food.png" width="30%" height="30%"></center>
                </label>
                
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="Username" ng-model="registration.username">
                </label>
                
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Password" ng-model="registration.password">
                </label>
                
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Confirm Password</span>
                    <input type="password" placeholder="Confirm Password" ng-model="registration.confirmPassword">
                </label>
                
                <label class="item item-input item-select item-text-wrap">
                    <div class="input-label" style="font-size:14px">
                    Organization
                    </div>
                    <select ng-model="registration.organizationName">
                        <option ng-repeat="VWO in VWOList">{{VWO.organizationName}}</option>
                    </select>
                </label>
                
<!--                <label class="item item-input item-stacked-label">
                    <span class="input-label">Organization Description</span>
                    <div class="item-text-wrap">
                        <textarea placeholder="Organization Description" ng-model="registration.description"></textarea>
                    <ion-textarea></ion-textarea>
                    </div>
                </label>-->
                
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="Email" ng-model="registration.email">
                </label>
            
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Full Name</span>
                    <input type="text" placeholder="Full Name" ng-model="registration.pocName">
                </label>
                
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Contact Number</span>
                    <input type="text" placeholder="Contact Number" ng-model="registration.pocNumber">
                </label>
                <br>
                <button class="button button-block btn blue" ng-click="submit()">
                    Sign Up Now!
                </button>
          </div>
            <!-- Added -->
            
            <!-- REMOVED  
          <div class="list">
            <label class="item item-input item-stacked-label">
              <span class="input-label">Username</span>
              <input type="text" placeholder="Username" ng-model="registration.username">
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Password</span>
              <input type="password" placeholder="Password" ng-model="registration.password">
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Confirm Password</span>
              <input type="password" placeholder="Confirm Password" ng-model="registration.confirmPassword">
            </label>
            
            <label class="item item-input item-select">
                <div class="input-label">
                  Organization Name
                </div>
                <select ng-model="registration.organizationName">
                  <option ng-repeat="VWO in VWOList">{{VWO.organizationName}}</option>
                </select>
            </label>  
              
            <label class="item item-input item-stacked-label">
              <span class="input-label">Email</span>
              <input type="text" placeholder="Email" ng-model="registration.email">
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Full Name</span>
              <input type="text" placeholder="Full Name" ng-model="registration.pocName">
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Contact Number</span>
              <input type="text" placeholder="Contact Number" ng-model="registration.pocNumber">
            </label>
            <button class="button button-block button-positive" ng-click="submit()">
              Register
            </button>
          </div>
             REMOVED -->
        </ion-content>
</ion-view>
