<ion-view view-title="Reset Password">
    <ion-content overflow-scroll="false">
            
        <form name="resetPasswordForm">
            <div class="list list-inset">
                <label class="item item-input item-stacked-label" ng-class="{'has-error' : resetPasswordForm.email.$touched && resetPasswordForm.email.$invalid}">
                    <span class="input-label">Email</span>
                    <input name="email" type="email" placeholder="Please enter your email" ng-model="data.email" required>
                </label>
                
              <div class="form-errors" ng-show="resetPasswordForm.email.$touched && resetPasswordForm.email.$invalid" ng-messages="resetPasswordForm.email.$error" ng-messages-include="templates/formErrorMessages.html"></div>  <br>
                <button class="button button-block btn blue" ng-click="submit()" ng-disabled="resetPasswordForm.email.$invalid">
                    Submit
                </button>
          </div>
        </form>
            
            
        </ion-content>
</ion-view>
