<ion-modal-view class="view-job-details">
    <ion-header-bar>
        <h1 class="title">Job Details</h1>
        <button class="button button-clear" ng-click="closeModal()">Cancel</button>
    </ion-header-bar>
    
    <ion-content>
        
                <form name="timeForm"> 
                    <button ng-disabled="timeForm.pickupTime.$invalid || timeForm.deliveryTime.$invalid || !pickupBeforeDelivery " class="button button-block btn-helpnow blue" ng-click="acceptJob(currentJob)">
            Accept Job Now!  
        </button>
            <div style="color:red;font-size:14px" ng-show="timeForm.pickupTime.$invalid && !isValidPickupTime" ng-messages="timeForm.pickupTime.$error" ng-messages-include="templates/formErrorMessages.html"></div>
            <div style="color:red;font-size:14px" ng-show="timeForm.deliveryTime.$invalid && !isValidDeliveryTime" ng-messages="timeForm.deliveryTime.$error" ng-messages-include="templates/formErrorMessages.html"></div>           
<!--            <div style="color:red;font-size:14px" ng-show="timeForm.deliveryTime.$invalid && !deliveryAfterPickup && isValidDeliveryTime" ng-messages="timeForm.deliveryTime.$error" ng-messages-include="templates/formErrorMessages.html"></div>   
            <div style="color:red;font-size:14px" ng-show="timeForm.pickupTime.$invalid && !pickupBeforeDelivery && isValidPickupTime " ng-messages="timeForm.pickupTime.$error" ng-messages-include="templates/formErrorMessages.html"></div>-->
            <div style="color:red;font-size:14px" ng-show="!pickupBeforeDelivery"><i class="icon ion-information-circled"></i> Delivery time should be after pickup time</div>

        <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <span class="input-label ">Pickup&nbsp;&nbsp;</span> 
                <input name="pickupTime" type="text" placeholder="Indicate pickup time" ng-model="collectionTimeTwelveHours" validate-pickup-time>
            </label>
            <ionic-timepicker input-obj="timePickerObjectPickup" >
                <button class="button button-small btn blue">
                    Select Time
                    <standard-time-meridian etime='timePickerObjectPickup.inputEpochTime'></standard-time-meridian>
                </button>
            </ionic-timepicker>
        </div>

        <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <span class="input-label ">Delivery</span>
                <input name="deliveryTime" type="text" placeholder="Indicate delivery time" ng-model="deliveryTimeTwelveHours" validate-delivery-time>
            </label>
            <ionic-timepicker input-obj="timePickerObjectDeliver" name="hello">
                <button name="timebutton" class="button button-small btn blue">
                    Select Time
                    <standard-time-meridian etime='timePickerObjectPickup.inputEpochTime'></standard-time-meridian>
                </button>
            </ionic-timepicker>
        </div>

<!--        <button ng-disabled="timeForm.pickupTime.$invalid || timeForm.deliveryTime.$invalid || !pickupBeforeDelivery" class="button button-block btn-helpnow blue" style="padding-bottom:0px;margin-bottom:0px" ng-click="acceptJob(currentJob)">
            Accept Job Now!  
        </button>-->
        </form>
        <div class="card">
            <div class="item item-divider">
                Item Details
            </div>
            <div class="item item-text-wrap item-icon-left" ng-repeat="demandItem in currentDemandItemList">
                <i class="icon ion-ios-box"></i>
                <p>{{demandItem.supply.itemName}}</p>
                <span class="badge badge-calm">{{demandItem.quantityDemanded}}</span>
            </div>
            <div class="item item-divider">
                Delivery Details
            </div>
            <div class="item item-text-wrap item-icon-left">
                <i class="icon ion-calendar"></i>
                <h3>Date & Time</h3>
                <p>{{currentJob.deliveryDate}}</p>
                <p>{{currentJob.timeslot}}</p>
            </div> 
            <div class="item item-text-wrap item-icon-left">
                <i class="icon ion-ios-location"></i>
                <h3>Supplying Organization</h3>
                <p>{{currentJob.demand.supplier.organizationName}}</p>
                <p>{{currentJob.demand.supplier.address}}</p>
            </div>
            <div class="item item-text-wrap item-icon-left">
                <i class="icon ion-ios-location"></i>
                <h3>Receiving Organization</h3>
                <p>{{currentJob.demand.user.organizationName}}</p>
                <p>{{currentJob.demand.user.address}}</p>
            </div>
        </div>

<!--        <form name="timeForm">
            <div style="color:red;font-size:14px" ng-show="timeForm.pickupTime.$invalid && !isValidPickupTime" ng-messages="timeForm.pickupTime.$error" ng-messages-include="templates/formErrorMessages.html"></div>
            <div style="color:red;font-size:14px" ng-show="timeForm.deliveryTime.$invalid && !isValidDeliveryTime" ng-messages="timeForm.deliveryTime.$error" ng-messages-include="templates/formErrorMessages.html"></div>           
            <div style="color:red;font-size:14px" ng-show="timeForm.deliveryTime.$invalid && !deliveryAfterPickup && isValidDeliveryTime" ng-messages="timeForm.deliveryTime.$error" ng-messages-include="templates/formErrorMessages.html"></div>   
            <div style="color:red;font-size:14px" ng-show="timeForm.pickupTime.$invalid && !pickupBeforeDelivery && isValidPickupTime " ng-messages="timeForm.pickupTime.$error" ng-messages-include="templates/formErrorMessages.html"></div>
            <div style="color:red;font-size:14px" ng-show="!pickupBeforeDelivery"><i class="icon ion-information-circled"></i> Delivery time should be after pickup time</div>

            
        <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <span class="input-label ">Pickup&nbsp;&nbsp;</span> 
                <input name="pickupTime" type="text" placeholder="Indicate pickup time" ng-model="collectionTimeTwelveHours" validate-pickup-time>
            </label>
            <ionic-timepicker input-obj="timePickerObjectPickup" >
                <button class="button button-small btn blue">
                    Select Time
                    <standard-time-meridian etime='timePickerObjectPickup.inputEpochTime'></standard-time-meridian>
                </button>
            </ionic-timepicker>
        </div>

        <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <span class="input-label ">Delivery</span>
                <input name="deliveryTime" type="text" placeholder="Indicate delivery time" ng-model="deliveryTimeTwelveHours" validate-delivery-time>
            </label>
            <ionic-timepicker input-obj="timePickerObjectDeliver" name="hello">
                <button name="timebutton" class="button button-small btn blue">
                    Select Time
                    <standard-time-meridian etime='timePickerObjectPickup.inputEpochTime'></standard-time-meridian>
                </button>
            </ionic-timepicker>
        </div>

        <button ng-disabled="timeForm.pickupTime.$invalid || timeForm.deliveryTime.$invalid || !pickupBeforeDelivery" class="button button-block btn-helpnow blue" ng-click="acceptJob(currentJob)">
            Help Now!  
        </button>
        </form>-->

    </ion-content>
</ion-modal-view>