/* Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* set global font to Open Sans */
body {
  font-family: 'Open Sans', 'sans-serif';
  background-image: url(http://benague.ca/files/pw_pattern.png);
}
/*FONT SIZE*/

.view-job-details .decreasefontsizebytwopx{
    font-size: 14px;
}
/** Styling for the username field **/
label.item.has-error {  
  border-top: 2px solid #C91F37;
  border-bottom: 2px solid #C91F37;
  border-left: 2px solid #C91F37;
  border-right: 2px solid #C91F37;
}

/** Styling for the password field when an error exists**/
label.item.has-error-lr {  
  border-left: 2px solid #C91F37;
  border-right: 2px solid #C91F37;
}

/** Styling for the password field when an error has been resolved**/
label.item.valid-lr {  
  border-left: 2px solid #26C281;
  border-right: 2px solid #26C281;
}

/** Styling for the error text and container **/
.form-errors {
  margin: 0px 0;
}
.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}

.padding-top-custom {
    padding-top: 50px;
}

/*Additonal ionic stuff*/
.account-view .item-avatar{
    padding-left: 60px;
}

.account-view .item-avatar i:first-child, .item-avatar .item-img {
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: 36px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    border-radius: 4px; 
    text-align: center;
}


.account-view h2{
    padding: 0 0 1px 0;
}

/* Top Navi Bar Title */

.bar.bar-stable .title {
    color: #fff;
}

.bar.bar-stable {
    border-color: #3BAFDA;
    background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
    /* color: #ffffff; */
    background-color: #3BAFDA;
}

.tabs-striped .tabs {
    background-color: #3BAFDA;
    background-image: none;
    border: none;
    border-bottom: 1px solid #3BAFDA;
    padding-top: 2px;
}

.tabs-top.tabs-striped .tab-item.tab-item-active, .tabs-top.tabs-striped .tab-item.active, .tabs-top.tabs-striped .tab-item.activated {
    margin-top: 1px;
    border-width: 0px 0px 2px 0px !important;
    border-style: solid;
    border-color: #f6bb42;
    border: none;
}


/*Container for images in Login Page*/
div.container4 {
    height: 10em;
    position: relative }

div.container4 p {
    margin: 0;
    /* background: yellow; */
    position: absolute;
    top: 150%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    font-weight: bolder;
    color: black;
}

/*Login Page Card List*/
.card, .list-inset {
    overflow: hidden;
    margin: 20px 10px;
    border-radius: 2px;
    background-color: transparent;
}

span.tab-title.ng-binding{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
    font-size: 100%;
    color: white;
}

span.back-text {
    color:white;
}

/*POP-UP CSS*/

.popup-head {
  padding: 10px;
  border-bottom: none; 
  
}

.popup-title {
    color: black;
 
}

.popup-body {
  padding: 15px;
  overflow: scroll;
  text-align: center;
  color: black;
  background-color: whitesmoke;
}

.popup-buttons {
  display: -webkit-boX;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 10px;
  min-height: 65px; 
  background: #E6E9ED;
}
  .popup-buttons .button {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    min-height: 45px;
    border-radius: 2px;
    line-height: 20px;
    margin-right: 5px; }
    .popup-buttons .button:last-child {
      margin-right: 0px; }

.popup-open {
  pointer-events: none; 
}

.popup-open.modal-open .modal {
    pointer-events: none; 
}
  
.popup-open .popup-backdrop, .popup-open .popup {
    pointer-events: auto; 
}
  
.button .icon {
    vertical-align: top;
    pointer-events: none;
    color: white;
}

.input-label {
    display: table;
    padding: 7px 10px 7px 0px;
    max-width: 200px;
    width: 35%;
    color: #444;
    font-size: 16px;
    font-weight: bolder;
}

.button.button-positive.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #fff;
}

.tabs{
    padding-top: 2px;
    border-top: none !important;
    border-bottom: none;
    background-position: top;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-color: #3BAFDA;
}

/*Navigation Tab Icons*/
.ion-eye:before {
    content: "";
    color: white;
}

.ion-android-person:before {
    content: "";
    color: white;
}

.ion-briefcase:before {
  content: ""; 
  color: white;
}

.ion-log-out:before {
    content: "";
    color: white;
}

.ion-ios-bell:before {
    /*content: "";*/
    color: white;
}

/*Profile Pic*/
.img-circle {
    border-radius: 50%;
}

.h1-title {
   font-family: 'League Spartan', sans-serif;
   font-weight: bold;
   font-size: 35px;
}

.profile-center{
    background: white;
}

p {
    margin: 0 0 0 0;
}

.button.button-block, .button.button-full {
    margin-top: 0px; 
}


item item-text-wrap-login {
    font-size: 100px;
}

/* Flat Buttons */
.link:hover {
  color: #2ecc71;
  border-bottom: 2px dotted #2ecc71;
}

/* button div */
#buttons {
  padding-top: 50px;
  text-align: center;
}

/* start da css for da buttons */
.btn {
  border-radius: 4px;
  padding: 0px 0px;
  font-size: 16px;
  text-decoration: none;
  margin: 0px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btn-profile {
    min-height: 25px;
    line-height: 25px;
    color: #fff;
}


.btn-red{
    background-color: #D24D57;
}
/*
.btn {
  border-radius: 4px;
  padding: 0px 0px;
  font-size: 16px;
  text-decoration: none;
  margin: 0px;
  color: #fff;
  position: relative;
  display: inline-block;
}*/

.btn-findlocation {
  border-radius: 0px;
  padding: 0px 25px;
  font-size: 16px;
  text-decoration: none;
  margin: 0px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.button.button-forgetpw {
    border-color: #34495e;
    color: #34495e;
}

.btn-signup {
  border-radius: 5px;
  padding: 25px 25px;
  font-size: 16px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btn-helpnow {
  border-radius: 3px;
  /*padding: 5px 5px;*/
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btn-timepicker {
  border-radius: 0px;
  padding: 0px 0px;
  font-size: 15px;
  text-decoration: none;
  margin: 0px;
  color: #fff;
  position: relative;
  display: inline-block;
  padding: 2px 4px 1px;
  min-width: 28px;
  min-height: 30px;
  font-size: 12px;
  line-height: 20px;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.blue {
  background-color: #4FC1E9;
  box-shadow: 0px 5px 0px 0px #3BAFDA;
}

.blue:hover {
  background-color: #3BAFDA;
}

.green {
  background-color: #48CFAD;
  box-shadow: 0px 5px 0px 0px #37BC9B;
}

.green:hover {
  background-color: #37BC9B;
}

.red {
  background-color: #ED5565;
  box-shadow: 0px 5px 0px 0px #DA4453;
}

.red:hover {
  background-color: #FF6656;
}

.purple {
  background-color: #9b59b6;
  box-shadow: 0px 5px 0px 0px #82409D;
}

.purple:hover {
  background-color: #B573D0;
}

.orange {
  background-color: #e67e22;
  box-shadow: 0px 5px 0px 0px #CD6509;
}

.orange:hover {
  background-color: #FF983C;
}

.blue-acc {
  background-color: #656d78;
/*  box-shadow: 0px 5px 0px 0px #CD6509;*/
}

.blue-acc:hover {
  background-color: #656d78;
}

.grey {
  background-color: #656D78;
/*  box-shadow: 0px 5px 0px 0px #CD6509;*/
}

.grey:hover {
  background-color: #CCD1D9;
}

.yellow {
  background-color: #f1c40f;
  box-shadow: 0px 5px 0px 0px #D8AB00;
}

.yellow:hover {
  background-color: #FFDE29;
}

.ion-header-bar-jobdetails {
    background: #656D78;
}

.header-jobdetails {
    background: red;
    padding: 0px 5px 0px 0px;
}

.item-radio .radio-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10;
    visibility: hidden;
    /*padding: 10px;*/
    padding-top:40px;
    margin: 0px 0px 0px 0px;
/*    padding-left:8px;
    padding-right: 8px;*/
    height: 100%;
    font-size: 16px;
    background:#4FC1E9;
    color: white;
}

div.radio-content{
    
}

.png-icon{
    margin: 0px auto auto;
    padding: 0;
    display: inline-block;
    background-repeat: no-repeat no-repeat;
    pointer-events: none;
    left: 16px;
}

/*p.jobdetails {
  text-indent:-40px;
  margin-left:40px;
  word-wrap: break-word;
  width: 13em;
}*/

p.test {
    width: 11em; 
/*    height: 40px;*/
    top: 40px;
    right: 150px;
/*    border: 1px solid #000000;*/
    word-wrap: break-word;
}

/* INDENTATION FOR RECEIVER INFO IN VIEW JOBS PAGE*/
p.jobdetails-receiver {
  text-indent:-65px;
  margin-left:65px;
  width: 14em;
  word-wrap: break-word;
}

/* INDENTATION FOR SUPPLIER INFO IN VIEW JOBS PAGE*/
p.jobdetails-supplier {
  text-indent:-65px;
  margin-left:65px;
  width: 14em;
  word-wrap: break-word;
}

/*INDENTATION FOR RECEIVER INFO IN MY JOBS PAGE*/
p.jobdetails-receiver-myjobs {
  text-indent:-65px;
  margin-left:65px;
  width: 11em;
  word-wrap: break-word;
}

/*INDENTATION FOR SUPPLIER INFO IN MY JOBS PAGE*/
p.jobdetails-supplier-myjobs {
  text-indent:-65px;
  margin-left:65px;
  width: 11em;
  word-wrap: break-word;
}

/* INDENTATION FOR SUPPLIER/RECEIVER IN VIEW JOBS PAGE*/
#input2{
    float:left;
}   

/*Button for selecting time*/

.button-small {
  padding: 2px 4px 1px;
  min-width: 28px;
  min-height: 30px;
  left: 0.5em;
  font-size: 12px;
  line-height: 26px; 
}

/* view job details page*/

.reducepadding{
    padding:5
}

.reducepaddingnone{
    padding:1px;
    min-height:0px;
    font-size:14px;
    border-width:0px;
}

/* view jobs page*/
.jobs .item p {
    color: #444;
}

.jobs .reduceinputlabel {
    padding:0px 0px 0px 0px;
    border-width:0px;
    font-size:14px;
    width:115px;  
}

.jobs .reducebuttonpadding {
    padding-right:10px;
    text-align:right;
    margin-top:5px;
    display:inline-block;
    float: right;
    position: relative;
    margin: 0px 0px 0px 0px;
    margin-top:5px;
/*    padding-bottom: 5px;
    padding-top:5px;*/
}

.jobs .reduceitempadding {
/*    border-color: #ddd;
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;*/
    padding-top:10px;
    padding-bottom:25px;
}

.view-job-details .item .badge {
    right: 10px;
    top: 7px;
    
}

.view-job-details .reducecarditem{
    padding-top: 7px;
    padding-bottom: 7px;
}

.view-job-details .item p {
    max-width: 85%;
}

.view-job-details .item-icon-left {
    padding-left: 50px;
}

.view-job-details .item-icon-left .icon:before, .item-icon-right .icon:before {
    display: block;
    width: 0px;
    text-align: center;
    padding-right: 0px;
}

.view-job-details .reduceitempadding{
    padding-top: 7px;
    padding-bottom: 7px;
}

.myjobs .reducedeliverydetailspadding{
    padding-top: 7px;
    padding-bottom: 7px;
}

.jobs .removebottommargin {
    margin-bottom:0px;
}

/*my jobs page*/
.jobs .leftpadding {
    padding-left:5px;
}

.jobs .myjobstatustitle {
    text-align: center;
}

.myjobs .reduceinputlabel {
    padding:0px 0px 0px 0px;
    border-width:0px;
    font-size:14px;
    width:115px;  
    color: rgba(0, 0, 0, 0.5);
}

.myjobs .item p {
    color: rgba(0, 0, 0, 0.5);
}

.myjobs .reduceitempadding {
/*    border-color: #ddd;
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;*/
    padding-top:10px;
    padding-bottom:25px;
}

/*for my jobs but my jobs page class now is currently jobs*/
.editwidth{
    max-width:220px;
}

/*.timePickerArrows {
  width: 100%;
  color: #6C7A89 !important;
  background-color: #BDC3C7 !important;
  max-width:70%;
  max-height:10px;
  line-height:20px;
  font-weight: bold;
  padding-right: 0px !important;
  margin-right: 0px ;
margin: 0px 0px 0px 0px !important;
}*/

.timePickerBoxText {
  height: 40px;
  text-align: center;
  border: 1px solid #dddddd;
  font-size: 16px;
  padding-top: 5px;
  margin-left:10px;

}

/*Maps css*/
#map {
    height: 90%;
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

      #warnings-panel {
        width: 100%;
        height:10%;
        text-align: center;
      }

      
      /*button on click*/
      .blue:hover {
    color: white;
    box-shadow: 0px 5px 0px 0px #3BAFDA;
}

.notification {
    text-align: center;
}

.button:after {
/*    position: absolute;
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    content: ' ';*/
    /*background-color: #4FC1E9;*/
}

.button-positive{
    background-color: #4FC1E9;
}